.profileHeader,
.profileContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileHeader {
  font-weight: bold;
  font-size: xx-large;
  margin: 0.5rem 0;
}

.profileInfo {
  padding: 1rem;
}
